# Database Configuration
DB_HOST=mysql
DB_PORT=3306
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# Mail Configuration
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

# Frontend URL
FRONTEND_URL=http://localhost:3000/

# JWT Configuration
JWT_SECRET=
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000

# OAuth2 - Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# OAuth2 - Facebook
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

# OAuth2 - Discord
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# VNPay
VNPAY_TERMINAL_ID=
VNPAY_SECRET_KEY=

# Backend URL
BACKEND_URL=http://localhost:8080

# FastAPI URL
PYTHON_API_URL=http://fastapi:8001

# Admin Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin

